/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  padding: 10px;
  background-color: #eee;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .links {
  position: relative;
}
.header .container .links .toggle-menu {
  position: absolute;
  z-index: 1;
  right: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header .container .links .toggle-menu span {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header .container .links .toggle-menu span::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header .container .links .toggle-menu span::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header .container .links .toggle-menu span.open {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  background: transparent;
}
.header .container .links .toggle-menu span.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}
.header .container .links .toggle-menu span.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}
.header .container .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.header .container .links ul li {
  margin-left: 15px;
}
.header .container .links ul li a {
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #10cab7;
}
.header .container .links ul li a:hover {
  color: #2c4755;
}
.header .container .logo {
  width: 60px;
}

/* End Header */